{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <script src="{% static 'event-create/date-time-model.js' %}"></script>
    <link href="{% static 'event-create/css.css' %}" rel="stylesheet">
    <script src="{% static 'event-create/main.js' %}"></script>

    {% include "dependencies.html" %}
    {% include "tailwind-elements-head.html" %}
    {% block head %}
    {% endblock %}
</head>

<body class="bg-gray-900 w-screen h-screen">
<div class="flex justify-center w-full p-5">
    <div style="max-width: 750px; width: 100%">
            <div class="schedules">
                <div class="grid max-w-screen">
                    <div class="mb-6" style="max-width: 100%;">
                        <label for="email"
                               class="block mb-2 text-sm font-medium text-white">Event Name</label>
                        <div class="grid" style="grid-template-columns: minmax(40vw, 80vw) 1fr; grid-gap: 7px;">
                            <input type="text" name="event_name"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
                                          rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                                          p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   style="width: 24rem; max-width: 100%;"
                                   placeholder="My Event" required>
                            <div class="flex items-center justify-center">
                                <button type="button"
                                        onclick="saveToServer()"
                                        class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4
                                               focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50
                                               dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-1 py-1 text-center
                                               w-14 h-8">
                                    Save
                                </button>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
            <div>
                <div class="grid" style="grid-template-columns: auto auto;">
                    <label class="mb-2 text-sm font-medium text-gray-900 dark:text-white flex items-center">
                        Schedules
                    </label>
                    <div class="flex justify-end">
                        <button type="button"
                                onclick="showModal()"
                                class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4
                                       focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50
                                       dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-1 py-1 text-center mr-2
                                       mb-2 w-8 h-8">
                            +
                        </button>
                    </div>
                </div>
                <div class="list-of-schedules">

                </div>
            </div>
        </div>
</div>

<template id="schedule-item-template">
    <div class="schedule-item
                w-full rounded-lg cursor mt-2 mb-2
                rounded bg-info text-xs font-bold uppercase
                leading-normal text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150
                ease-in-out hover:bg-info-600
                hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)]
                focus:bg-info-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)]
                focus:outline-none focus:ring-0 active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)]">
        <span class="date">
            Friday, 13 March 2023
        </span>
        <div class="p-1"></div>
        <span class="start-time">
            10:23
        </span>
        <span>-</span>
        <span class="end-time">
            12:40
        </span>

        <div></div>
            <button
              type="button"
              class="delete-btn
                     inline-block rounded-full bg-danger px-3 pt-1 m-1
                     pb-0.5 text-xs font-medium uppercase
                     leading-normal text-white shadow-[0_4px_9px_-4px_#dc4c64] transition duration-150 ease-in-out
                     hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)]
                     focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)]
                     focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)]">
              Delete
            </button>
    </div>
</template>


    {% include 'events/input-modal/input-schedule-modal.html' %}


    {% include "tailwind-elements-end-of-body.html" %}
</body>
</html>
