.outer-container{
    display: grid;
    grid-template-rows: auto 1fr;
}


.schedule-item{
    display: grid;
    color: black;

    padding: 0.1rem 0.1rem 0.1rem 0.7rem;

    grid-template-columns: repeat(5, auto) 1fr auto;
    grid-column-gap: 0.3rem;
    cursor: pointer;
}

.schedule-item span{
    text-shadow: 1px 1px 1px rgba(27, 27, 27, 0.47);
    display: flex;
    align-items: center;
}

